table{
    margin: auto;
    margin-top: 3rem;
    border-style: groove;
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgb(242, 241, 241);
}
th{
    font-size: 1.5rem;
    padding: 1rem;

}